In [363]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import HistGradientBoostingClassifier

In [364]:
# Read the data
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [365]:
# train.head()

In [366]:
# test.head()

In [367]:
print(train.isnull().sum())
print(test.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [368]:
# mean_age = train['Age'].mean()
# train = train['Age'].fillna(mean_age, inplace = False)
# test = test['Age'].fillna(mean_age, inplace = True)

In [369]:
train.interpolate(method = 'linear', axis = 0, inplace = True)
test.interpolate(method = 'linear', axis = 0, inplace = True)

In [370]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,22.5,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [371]:
print(train.isnull().sum())
print(test.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [372]:
# Replace 'male' with 0 and 'female' with 1
train['Sex'] = train['Sex'].map({'male': 0, 'female': 1})
test['Sex'] = test['Sex'].map({'male': 0, 'female': 1})

In [373]:
# Feature selection
X = train.drop(['Name', 'Survived', 'Cabin', 'Embarked', 'Ticket'], axis=1)
test = test.drop(['Name', 'Cabin', 'Embarked', 'Ticket'], axis=1)
y = train['Survived']

In [374]:
# split into train and test so that we can test later
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size= 0.3, random_state= 0)

In [375]:
model = [DecisionTreeClassifier(), HistGradientBoostingClassifier()]

In [376]:
models = [DecisionTreeClassifier(), HistGradientBoostingClassifier()]
for i in models:
    i.fit(X_train, y_train)

#test performance
for i in models:
    pred = i.predict(X_test)
    accuracy = accuracy_score(y_test, pred)
    print(f"Accuracy of the model: {accuracy}")

Accuracy of the model: 0.7387820512820513
Accuracy of the model: 0.7900641025641025

In [377]:
#read the test dataset


#create two empty lists to store predictions
dt_predictions = []
hgbc_predictions = []

# make predictions using decision tree model
dt_predictions = models[0].predict(test)

# make predictions using histogram-based gradient boosting model
hgbc_predictions = models[1].predict(test)

# create submission dataframe for decision tree model
submission_dt = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': dt_predictions})

# create submission dataframe for histogram-based gradient boosting model
submission_hgbc = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': hgbc_predictions})

#save the dataframe to csv files
submission_dt.to_csv('submission_dt.csv', index=False)
submission_hgbc.to_csv('submission_hgbc.csv', index=False)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- Cabin
- Embarked
- Name
- Ticket